<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="insertMethodEnabled" value="false" />
        <option name="javaMapperPackage" value="com.hzl.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/itrip-bean/src/main/java" />
        <option name="javaModelPackage" value="com.hzl.entiy" />
        <option name="javaModelPath" value="$PROJECT_DIR$/itrip-bean/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="itrip-bean" />
        <option name="lombokBuilderAnnotation" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="itrip-bean">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.hzl.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/itrip-bean/src/main/java" />
                  <option name="javaModelPacakge" value="com.hzl.entiy" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/itrip-bean/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.hzl.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/itrip-bean/src/main/java" />
                  <option name="javaServicePackage" value="com.hzl.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/itrip-bean/src/main/java" />
                  <option name="xmlPackage" value="com.hzl.mapper.xml" />
                  <option name="xmlPath" value="$PROJECT_DIR$/itrip-bean/src/main/java" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="mybatisPlusStaticField" value="false" />
        <option name="removeTablePreName" value="itrip_" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="itrip_db:itrip_area_dic">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="AreaDic" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_comment">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="Comment" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_hotel">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="Hotel" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_hotel_extend_property">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelExtendProperty" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_hotel_feature">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelFeature" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_hotel_order">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelOrder" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_hotel_room">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelRoom" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_hotel_temp_store">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelTempStore" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_hotel_trading_area">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelTradingArea" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_image">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="Image" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_label_dic">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="LabelDic" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_order_link_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="OrderLinkUser" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_product_store">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="ProductStore" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_trade_ends">
              <value>
                <TableGenerateConfig>
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="TradeEnds" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itrip_db:itrip_user_link_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserLinkUser" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_area_dic">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="AreaDic" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_comment">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="Comment" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_hotel">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="Hotel" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_hotel_extend_property">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelExtendProperty" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_hotel_feature">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelFeature" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_hotel_order">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelOrder" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_hotel_room">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelRoom" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_hotel_temp_store">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelTempStore" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_hotel_trading_area">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="HotelTradingArea" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_image">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="Image" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_label_dic">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="LabelDic" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_order_link_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="OrderLinkUser" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_product_store">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="ProductStore" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_trade_ends">
              <value>
                <TableGenerateConfig>
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="TradeEnds" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="itripdb:itrip_user_link_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserLinkUser" />
                  <option name="moduleName" value="itrip-bean" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateByPrimaykeyEnabled" value="false" />
        <option name="useSwagger" value="true" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="com.hzl.mapper.xml" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/itrip-bean/src/main/java" />
      </ProjectProfile>
    </option>
  </component>
</project>